
.square-container {
  max-width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid gray;
}

.square {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(175, 175, 175);
}

.placed {
  background-color: gray;
}

.hovered {
  background-color: red;
}

.square:hover {
  border-color: green;
}
